<!-- mode : sgml -->
{% extends "layouts/default.html" %}
{% block title %}Goal of Life{% endblock %}
{% block content %}
<div id="main">
  <h1>Goal of Life</h1>
  What is your goal of life? Is it to make a lot of money? To have a good
  family and children? To be a founder of a tech company? To be a professor
  in the university? To be a teacher? To be a pro-racer? Politician?
  Doctor? Lawyer? What else?
<p>
  But how those <emph>Goals</emph> be achieved? At what cost? With how many
  years of effort and training? Can it be achieved before you finally reach
  50-years-old? Or, MUST it be achieved before your get 25-years-old, due
  to biological limitation, or limitation by the law? How your physical
  ability decrease by the age may limit your possibility in the future,
  e.g., you would enjoy surfing at your 20's far easier than at your
  80's. (Of cource, with enought effort it is still possible to enjoy
  surfing at that age!!)
<p>
  Also, your goal is not necessarily <emph>The Goal</emph>:
  Instead, <emph>"Goals"</emph> may be appropriate. If so, which goals are
  mutually-exclusive? Or, could they be achived at once? Some may share the
  path and one effort may benefit you in achieving both goals.
<p>
  We support you achieving your goals, with AI technology based on symbolic
  manipulation and automated reasoning. Having goals will help you both
  practically and theoretically. Goals limit your possibilities, otherwise
  people tend to be at a loss, hard to imagine the future and fail to
  imagine how to achieve it.  Technically, it also benefits AI programs.
  Having some goals narrows the <emph>search tree of your life</emph> by
  cutting the unrelated branch, making the automated reasoning possible.
<p>
<form method="GET" action="plan">
  Your Goals: <input type="text" name="goals" size="40">
  <input type="submit" value="Plan">
</form>
<p>
<h2>Top-rated goals</h2>
<ul id="top-rated">
  <li> Professor, Rally Driver : achieved by <a href="">Kohei Kusaka</a>
</ul>
</div>
{% endblock %}
